.grid {
    display: grid;
    gap: 20px;
    align-content: stretch;
    align-items: baseline;
    justify-items: stretch;
    justify-content: left;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}